<div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a dude!</h3>
        </div>
        <div class="modal-body" id="modal-body">
           eqwe
        </div>
        <div class="modal-footer">
           tombol
        </div>