<div >
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">{{data.name}} ( {{data.id}} )</h3>
	</div>
	<div style="margin-left:10px;margin-right:10px;">
		<table width="100%">
			<tr>
				<td>Begin Periode</td>
				<td>{{data.begin}}</td>
				<td>&nbsp;</td>
				<td>End Periode</td>
				<td>{{data.end}}</td>
			</tr>
			<tr>
				<td>CMS</td>
				<td>{{data.masal}}</td>
				<td>&nbsp;</td>
				<td>Used</td>
				<td>{{data.used}}</td>
			</tr>
			<tr>
				<td>Extend Date (day)</td>
				<td><input type="number" ng-model="input.extenddate" style="text-align:right"></td>
				<td>&nbsp;</td>
				<td>CT Adjusment (day)</td>
				<td><input type="number" ng-model="input.extendday" style="text-align:right"></td>
			</tr>
			<tr>
				<td>Prev Outstanding (day)</td>
				<td><input type="number" ng-model="input.prev" style="text-align:right"></td>
				<td>&nbsp;</td>
				<td>Notes</td>
				<td><input type="text" ng-model="input.notes" width="100" ></td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="save()">Save</button>
		<button class="btn btn-primary" type="button" ng-click="close()">Close</button>
	</div>
</div>
