<div >
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">Detail Attendance a/n {{data.name}} ( {{data.id}} )</h3>
	</div>
	<div style="margin-left:5px;margin-right:5px;">
		<div id="grid1" ui-grid="gridOrdersOptions" class="grid" ui-grid-resize-columns ui-grid-auto-resize  ui-grid-exporter >
			<div class="grid-nodata-container" ng-show="gridOptions.data.length == 0 && !gridIsLoading">No Data Available</div>
			<div class="grid-loading-container" ng-show="gridIsLoading">
				<img src="image/loading.gif" />
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="close()">Close</button>
	</div>
</div>
