.activeVid{
	color:#338098;
	font-size:12px;
	font:bold;
	/*background-color: #ffffff;*/
	margin-right:2px;
	margin-left:0;
	/*border-color:#bababa;*/
}
.activeVid li{
background-image:url(image/bg_tab_active.gif);

}
.list {
	color:#FFFFFF;
	border-top:solid 0px #ffffff;
	border-bottom:solid 0px #ffffff;
	font-size:12px;
	background-color: #ffffff;
}


.nonActiveVid {
	color:#bababa;
	background-color:#ffffff;
	margin-right:2px;
	margin-left:0px;
	border-bottom:solid 0px #bababa;
}
.basictab{
	margin-left: 0;
	font: bold 12px Verdana;
	border-bottom: 0px solid #bababa;
	list-style-type: none;
	margin-bottom: 0;
	text-align: center; /*set to left, center, or right to align the menu as desired*/
	padding:0;
}
ul
{
float:left;
width:100%;
padding:0;
margin:0;
list-style-type:none;
}


a:hover {
background-color: #ffffff;
color:#338098;
}

li {
list-style: none;
margin: 0;
display: inline;
}

li a{
font-family:Arial, Helvetica, sans-serif; 
font-size:10px;
float:left;
width:102px;
height:30px;
margin-right:4px;
text-decoration:none;
color:#bababa;
background-image:url(image/bg_button_tab.gif);
background-repeat:repeat-x;
border:solid 1px;
border-bottom:none;
text-align:center;
overflow: visible;
}

.container{
	/*border-collapse:collapse;*/
	height:30px;
	width:100%;
	padding:0px;
	background-image:url(image/bg_button_tab.gif);
	border-collapse:separate;
	border:solid 1px;
	border-color:#338098;
	/*border-top:1px;*/
}

