#idscreen{
	display:none;
}
.idprint{
display:none;
}
.undisplayed_tbl
{
	display:inline;
}

body, p, td, li, h1, h2, h3 { font-family: Arial, Verdana, Helvetica, Geneva, sans-serif; font-size: 12px; }

h2, h3  	{ font-weight: bold; color:#323777; margin-bottom: 11px; }
h1          { font-size:16px; font-weight: bold; color:#9999cc; margin-bottom: 0px; }
h2, h3      { margin-top: 17px;  }

.header     { font-weight: bold; color:#323777; margin-bottom: 11px; }
.headline	{ font-weight: bold; color:#323777; }

p           { margin-top: 14px; }

a           { text-decoration: none; color:#323788; font-weight:bold;}
a:hover     { text-decoration: underline;           }
a.nav       { text-decoration: none; color:#000000;}
a.nav:hover { text-decoration: underline;           }

pre         { font-family:Courier New, Courier, monospace; font-size:12px; }
ul          { list-style-type: square; margin-top: 2px;        }

/* td.header   { color: #FFFFFF; background-color:#323777; }
td.cell     { background-color:#FFFFFF; }

/* input, select    { border: 1px solid silver; } */
input.error, select.error {padding-right: 16px; border: 1px solid red; background-color: #FFFCE2; background-image: url(jsimage/warning_obj.gif); background-position: right; background-repeat: no-repeat;}
input:focus, select:focus {border: 1px solid red; background-color:#EFEFEF;}
.mandatory  { font-weight: bold; }

.web_title{
	font-family: Arial;
	font-size:70px;
	color:#9999cc;
}
.web_title2{
	font-family: Arial;
	font-size:40px;
	color:#9999cc;
}

.frmClient, .login_user{
	border-bottom:1px #0F89D6 solid;
	border-top:1px #0F89D6 solid;
	border-right:1px #0F89D6 solid;
	border-left:1px #0F89D6 solid;
}
.frmClient{
	border-left:1px #FF6600 solid;
}
.border_header{
	font-family:Arial, Helvetica, sans-serif;
	border-bottom:1px #bcc7ce solid;	
}
.border{
	font-family:Arial, Helvetica, sans-serif;
	border-bottom:1px #bcc7ce solid;	
	/*border-top:1px #0F89D6 solid;*/
	border-right:5px #ffffff solid;
	border-left:5px #ffffff solid;
}
.border2{
	
}

#pick a{
	font style="font-size:18px;
	color:#f9921c;
	font-family:Arial;
	font-weight:bold;
}
.style1 {
font-size:16px;
color:#999999;
}

.dax {color:#9999cc; font-size:50px;}
.title_menu {
	font-size: 16px;
	font-style: normal;
	text-transform: capitalize;
	color: #9999cc;
	text-align: center;
	font-weight: bold;
}
