body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;	
	
}
.mainlogin{
	vertical-align:middle;

}

.login{	
   	color:#89BF1B;
	border:3px solid #89BF1B;
	padding:10px;	
}
.login input{
	border:1px solid #89BF1B;
	
}
.back{

background-repeat:repeat-x;



}