body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color:rgb(217,224,232);
}

.page-container{
    position: absolute;
    top:60px;
    left:200px;
    right:0px;
    bottom:0px;
    overflow: auto;
    padding:10px 20px;
    vertical-align: top;
}

.box{
    background-color:#fff;
    border:1px solid #f2f2f2;
    box-shadow: 1px 1px 2px 1px rgb(128,128,128,0.3);
    margin-bottom:10px;
}
.page-header-container{
    padding:5px 10px;
    /* color:rgb(2,106,97); */
    color:rgb(111,82,242);
    font-size: 15px;
    font-weight: bold;
}
.page-body{
    padding:5px 10px;
    font-size: 14px;
}

.button-container{
    margin-bottom:10px;
}

.form-section-header{
    border-bottom:1px solid #0052cc;
    color:#0052cc;
    font-size: 15px;
    margin-bottom:10px;
}

label{font-size: 14px;}

.form-table{
    margin-top:8px;
    margin-bottom:8px;
}

.datepicker-container{
    display: inline-block;
    width:200px;
    vertical-align: middle;
}
.datepicker-container p{
    margin-bottom:0px;
}

.inline-container{
    display: inline-block;
    vertical-align: middle;
}

table{
    border-collapse: collapse;
    width:100%;
}
tr.header{
    background-color:rgb(2,106,97);
    color:#fff;
    font-size: 14px;
}
tr.body{
    border-bottom:1px solid #a6a6a6;
}
table.details td{
    padding:8px 10px;
}
table.details td.nodata{
    padding:8px 10px;
    text-align: center;
}

.show-image{
    margin-bottom:5px;
}
.show-image img{
    max-width: 300px;
}

.form-section-footer{
    border-top:1px solid #0052cc;
    margin-top:10px;
    padding:5px;
    text-align: right;
}

.grid-nodata-container{
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    text-align: center;
    height: 300px;
    line-height: 300px;
    vertical-align: middle;
    font-size: 30px;
    color:rgba(0,0,0,0.4);
}
.grid-loading-container{
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    text-align: center;
    height: 300px;
    line-height: 300px;
    vertical-align: middle;
}

.item-row{
    padding:4px 10px;
    border-bottom:1px solid #cccccc;
}
.item-row .item-name{
    display: inline-block;
}
.item-row .item-qty{
    float: right;
}

.grid-alignright {
    text-align: right;
}

growl-notifications{
  position: fixed;
  top: 150px;
  right: 10px;
  z-index:100;
}
growl-notification{
  border: 1px solid blue;
  padding: 15px 30px;
  margin-bottom: 15px;
}
